{% extends "base.html" %}

{% block title %}
	Acerca de
{% endblock title %}



{% block content %}
	<div class="glass">
		<h1>Acerca de NOTASWEB</h1>
		<hr>
		<p>Hola! Soy Franco Jalil. Desarrolle NOTASWEB ya que quería poner en práctica mis conocimientos en programación con Django y a su vez crear algo útil y práctico tanto para mi cómo para otras personas.</p>

		<p>Hice el backend de esta web con Python + Django y el frontend con HTML y CSS.</p>

		<i><p>NOTASWEB es una app donde podrás crear tus propias notas, verlas, editarlas y borrarlas.</p></i>
	</div>
{% endblock content %}